<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.mine.testNG.cuc.FirstTest"/>
      <class name="com.mine.testNG.cuc.ThirdTest"/>
      <class name="com.mine.testNG.cuc.SecondTest"/>
      <class name="com.mine.testNG.runner.GoogleRunner">
      	<methods>
			 <include name="googleHomeFeature"/>  
		</methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
